<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="HRBEnterprise" value="https://pkgs.dev.azure.com/hrblock/a70eae8d-f5f5-42d4-aabb-1fb3c582d5c4/_packaging/Enterprise-Testing/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
   
    <HRBEnterprise>
      <add key="Username" value="vishnu.chathukutty@hrblock@hrblock.com" />
      <add key="ClearTextPassword" value="FI7Bw2MGcGXixwYeSe4FskDMtieypnCEfrHcLbSm5TJWrLfAFkXLJQQJ99BCACAAAAAKUmRCAAASAZDO15sU" />
    </HRBEnterprise>

  </packageSourceCredentials>
</configuration>
